In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("postgresql://postgres:Samman56@@localhost:5432/Hawaii_db")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days = 365)

#prev_year

results = session.query(Measurement.date, Measurement.prcp).all()

df = pd.DataFrame(results, columns=['date', 'precipitation'])

df.set_index(df['date'], inplace=True)

df = df.sort_index()

df.drop(columns=['date'], inplace=True)


df

         precipitation
date
1/1/2010          0.21
1/1/2010          0.28
1/1/2010          0.15
1/1/2010          0.05
1/1/2010          0.15
1/1/2010          0.14
1/1/2010          0.08
1/1/2011             0
1/1/2011          0.07
1/1/2011             0
1/1/2011          0.14
1/1/2011          0.38
1/1/2011          0.42
1/1/2011          0.03
1/1/2012          0.01
1/1/2012             0
1/1/2012             0
1/1/2012             0
1/1/2012          0.01
1/1/2012          0.05
1/1/2012             0
1/1/2013          0.38
1/1/2013          0.02
1/1/2013          0.24
1/1/2013          0.16
1/1/2013             0
1/1/2013          0.36
1/1/2014             0
1/1/2014             0
1/1/2014             0
...                ...
9/9/2012          0.29
9/9/2013          None
9/9/2013          0.05
9/9/2013          None
9/9/2013             0
9/9/2013          0.02
9/9/2013             0
9/9/2013             0
9/9/2013          None
9/9/2014             0
9/9/2014          0.03
9/9/2014             0
9/9/2014             0
9/9/2014          None
9/9/2014             0
9/9/2014             0
9/9/2014             0
9/9/2015             0
9/9/2015             0
9/9/2015             0
9/9/2015             0
9/9/2015             0
9/9/2015          None
9/9/2016          0.03
9/9/2016          None
9/9/2016          0.35
9/9/2016          0.23
9/9/2016          0.16
9/9/2016          0.01
9/9/2016          0.29

[20550 rows x 1 columns]

In [11]:
df.describe()

       precipitation
count          19103
unique           343
top                0
freq            8848

In [12]:
session.query(func.count(Station.station)).all()

[(9)]

In [13]:
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).
                                       desc() ).all()

[('USC00519397', 3724),
 ('USC00519281', 2772),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [14]:
lowest = func.min(Measurement.tobs)

highest = func.max(Measurement.tobs)

average = func.avg(Measurement.tobs)

session.query(lowest, highest).all()

[('53', '87')]

In [15]:
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').all()

df = pd.DataFrame(results, columns=['tobs'])

df

     tobs
0      70
1      62
2      74
3      75
4      74
5      76
6      69
7      66
8      70
9      75
10     64
11     60
12     61
13     68
14     64
15     66
16     67
17     70
18     67
19     67
20     69
21     60
22     75
23     75
24     65
25     75
26     69
27     67
28     66
29     69
...   ...
2742   72
2743   74
2744   74
2745   76
2746   80
2747   80
2748   76
2749   76
2750   76
2751   77
2752   77
2753   77
2754   82
2755   75
2756   77
2757   75
2758   76
2759   81
2760   82
2761   81
2762   76
2763   77
2764   82
2765   83
2766   77
2767   77
2768   77
2769   76
2770   76
2771   79

[2772 rows x 1 columns]

# Exploratory Climate Analysis

In [16]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

![precipitation](Images/precipitation.png)

In [17]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [18]:
# Design a query to show how many stations are available in this dataset?

In [19]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [20]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [21]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [22]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

ProgrammingError: (psycopg2.ProgrammingError) function avg(character varying) does not exist
LINE 1: SELECT min(measurement.tobs) AS min_1, avg(measurement.tobs)...
                                               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT min(measurement.tobs) AS min_1, avg(measurement.tobs) AS avg_1, max(measurement.tobs) AS max_1
FROM measurement
WHERE measurement.date >= %(date_1)s AND measurement.date <= %(date_2)s]
[parameters: {'date_1': '2012-02-28', 'date_2': '2012-03-05'}]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`